.slider {
  overflow: hidden;
}

.slider__content {
  display: flex;
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

.slide {
  padding-left: 20px;
  padding-right: 20px;
}

.slide_active .card-player__image {
  border: 2px solid var(--accent-color);
}

@media (max-width: 744px) {
  .slide_active .card-player__image {
    border: none;
  }
}
