.page {
  min-width: 375px;
  font-family: var(--font-regular);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.page__container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
}

.page__container_type_header {
  margin-bottom: -92px;
}

@media (max-width: 640px) {
  .page__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .page__container_type_header {
    margin-bottom: -68px;
  }
}
