.steps {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.steps__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.steps__title {
  width: 100%;
  max-width: 705px;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(36px, 4.2vw, 54px);
  line-height: clamp(110%, 4.2vw, 120%);
  color: var(--text-color);
  text-transform: uppercase;
}

.steps__subtitle {
  display: inline-block;
  margin-left: 6px;
  width: 100%;
  max-width: 280px;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 1.5vw, 20px);
  line-height: 120%;
  color: var(--accent-color-secondary);
  text-transform: none;
}

.steps__image {
  max-width: 377px;
  aspect-ratio: 377 / 235;
  position: absolute;
  bottom: 0;
  right: -50px;
}

.steps__controls {
  display: none;
}

.steps__container.slider {
  overflow: visible;
}

@media (max-width: 1100px) {
  .steps__subtitle {
    margin-left: 0;
    margin-top: 13px;
    display: block;
    max-width: fit-content;
  }

  .steps__image {
    max-width: 335px;
    bottom: -5px;
    right: -5px;
  }
}

@media (max-width: 744px) {
  .steps__container.slider {
    overflow: hidden;
  }

  .steps {
    gap: 12px;
  }

  .steps__container {
    gap: 28px
  }

  .steps__title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .steps__controls {
    display: flex;
    align-self: center;
  }

  .steps__picture {
    order: -1;
    align-self: center;
    margin-bottom: -100px;
    z-index: 1;
  }

  .steps__image {
    position: static;
    max-width: 335px;
  }
}
