.steps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.steps__title {
  width: 100%;
  max-width: 705px;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(36px, 4.2vw, 54px);
  line-height: clamp(110%, 4.2vw, 120%);
  color: var(--text-color);
  text-transform: uppercase;
}

.steps__subtitle {
  display: inline-block;
  margin-left: 6px;
  width: 100%;
  max-width: 280px;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 1.5vw, 20px);
  line-height: 120%;
  color: var(--accent-color-secondary);
  text-transform: none;
}

.steps__image {
  max-width: 377px;
  aspect-ratio: 377 / 235;
  position: absolute;
  bottom: 55px;
  right: 20px;
}

@media (max-width: 1100px) {
  .steps__subtitle {
    margin-left: 0;
    margin-top: 12px;
    display: block;
    max-width: fit-content;
  }

  .steps__image {
    bottom: 28px;
    right: 5px;
  }
}

@media (max-width: 700px) {
  .steps {
    gap: 148px;
  }

  .steps__image {
    max-width: 335px;
    bottom: 375px;
    left: 50%;
    transform: translateX(-50%);
  }
}
