.players {
  display: grid;
  align-items: center;
  grid-template-areas:
    'title title controls'
    'list list list';
  row-gap: 60px;
}

.players__title {
  grid-area: title;
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(36px, 4.2vw, 54px);
  line-height: clamp(110%, 4.2vw, 120%);
  color: var(--text-color);
  text-transform: uppercase;
}

.players__controls {
  grid-area: controls;
  justify-self: end;
}

.players__list {
  grid-area: list;
}

@media (max-width: 744px) {
  .players {
    grid-template-areas:
    'title'
    'list'
    'controls';
    row-gap: 40px;
  }

  .players__title {
    padding-left: 25px;
    padding-right: 25px;
  }

  .players__controls {
    justify-self: center;
  }
}
