.main {
  background-image:
      image-set(url('../../images/main/contour.webp') type('image/webp'),
                url('../../images/main/contour.png') type('image/png')),
      image-set(url('../../images/main/banner.webp') type('image/webp'),
                url('../../images/main/banner.png') type('image/png')),
      image-set(url('../../images/background/background-image.webp') type('image/webp'),
                url('../../images/background/background-image.jpg') type('image/jpg'));
  background-size: 1613px 700px, 1613px 700px, cover;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center;
  background-color: var(--background-element);
  background-blend-mode: normal, multiply, color-burn;
}

.main__content {
  padding-top: 124px;
  padding-bottom: 130px;
  max-width: clamp(335px, 56%, 542px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__title {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(36px, 4.4vw, 60px);
  line-height: 110%;
  color: var(--text-color);
  text-transform: uppercase;
}

.main__title-center {
  display: block;
  text-align: center;
}

.main__title-right {
  display: block;
  text-align: right;
}

.main__subtitle {
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  text-align: center;
}

.main__buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 1260px) {
  .main__content {
    max-width: clamp(335px, 47%, 542px);
  }
}

@media (max-width: 1100px) {
  .main__buttons {
    margin-top: 7px;
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }
}

@media (max-width: 480px) {
  .main {
    background-image:
        image-set(url('../../images/main/contour-mobile.webp') type('image/webp'),
        url('../../images/main/contour-mobile.png') type('image/png')),
        image-set(url('../../images/main/banner-mobile.webp') type('image/webp'),
        url('../../images/main/banner-mobile.png') type('image/png')),
        image-set(url('../../images/background/background-image-mobile.webp') type('image/webp'),
        url('../../images/background/background-image-mobile.jpg') type('image/jpg'));
    background-size: contain, contain, cover;
    background-repeat: no-repeat;
    background-position: bottom, bottom, center;
  }

  .main__content {
    padding-top: 90px;
    padding-bottom: 291px;
    max-width: fit-content;
  }

  .main__title {
    max-width: 335px;
  }

  .main__subtitle {
    text-align: start;
  }
}
