:root {
  --font-regular: 'Golos Text Regular', Arial, Helvetica, sans-serif;
  --font-medium: 'Golos Text Medium', Arial, Helvetica, sans-serif;
  --font-bold: 'Golos Text SemiBold', Arial, Helvetica, sans-serif;
  --font-title: 'Merriweather Regular', Times New Roman, Times, serif;
  --font-title-accent: 'Merriweather Bold', Times New Roman, Times, serif;
  --background-color: #fff;
  --background-element: #e9ded4;
  --text-color: #313131;
  --text-color-secondary: #fff;
  --accent-color: #f54932;
  --accent-color-secondary: #3057a2;
  --border-table-color: #d0d0d0;
  --button-color: #1f1f1f;
  --button-hover-color: #fbce51;
  --button-disabled-color: #d6d6d6;
  --card-color: #d9d9d9;
}
