.card-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card-player__image {
  max-width: 320px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--background-element);
  transition: border .3s ease-in;
}

.card-player__name {
  margin-top: 22px;
  font-family: var(--font-bold);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-color);
  text-align: center;
}

.card-player__description {
  margin-bottom: 11px;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color);
  opacity: 60%;
  text-align: center;
}

.card-player__button {
  max-width: 113px;
}

@media (max-width: 800px) {
  .card-player__image {
    max-width: 244px;
  }
}
