.support {
  margin-bottom: -9px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.support__container-top {
  display: grid;
  grid-template-columns: minmax(400px, 764px) minmax(200px, 394px);
  align-items: center;
  column-gap: 64px;
}

.support__container-bottom {
  display: grid;
  grid-template-columns: minmax(200px, 521px) minmax(400px, 704px);
  align-items: center;
}

.support__title {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 3vw, 36px);
  line-height: 135%;
  color: var(--text-color);
  text-transform: uppercase;
}

.support__title-accent {
  font-family: var(--font-title-accent);
  font-weight: 700;
  color: var(--accent-color);
}

.support__title_bottom {
  grid-column: 2;
  grid-row: 1;
}

.support__photo {
  max-width: 394px;
  aspect-ratio: 394 / 250;
  background-color: var(--background-element);
  border-radius: 50%;
}

.support__picture {
  grid-column: 1;
  grid-row: span 3;
  margin-left: -23px;
}

.support__poster {
  max-width: 521px;
  aspect-ratio: 521 / 568;
}

.support__table {
  grid-column: 2;
  grid-row: 2;
  margin-top: 20px;
}

.support__other {
  grid-column: 2;
  grid-row: 3;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 1.5vw, 20px);
  line-height: 120%;
  color: var(--accent-color-secondary);
}

@media (max-width: 1300px) {
  .support {
    margin-bottom: 0;
  }

  .support__container-bottom {
    column-gap: 30px;
    row-gap: 40px;
  }

  .support__table {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .support__container-top {
    column-gap: 30px;
  }

  .support__picture {
    grid-column: 1;
    grid-row: 1;
    margin-left: -15px;
  }

  .support__table {
    grid-column:span 2;
    grid-row: 2;
  }

  .support__other {
    grid-column: span 2;
  }

}

@media (max-width: 700px) {
  .support {
    gap: 37px;
  }

  .support__container-top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .support__title-gap {
    display: block;
    padding-top: 261px;
  }

  .support__photo {
    max-width: 335px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .support__container-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 23px;
  }

  .support__picture {
    margin-left: 0;
  }

  .support__table {
    margin-top: 22px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .support__container-top,
  .support__title_bottom,
  .support__table,
  .support__other {
    padding-left: 20px;
    padding-right: 20px;
  }

  .support__poster {
    max-height: 402px;
  }
}
