.support {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.support__container-top {
  display: grid;
  grid-template-columns: minmax(400px, 764px) minmax(200px, 394px);
  align-items: center;
  column-gap: clamp(32px, 4.7vw, 64px);
}

.support__container-bottom {
  display: grid;
  grid-template-columns: fit-content(521px) fit-content(704px);
  grid-template-areas:
    'poster title'
    'poster table'
    'poster other';
  row-gap: 48px;
}

.support__title {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 3vw, 36px);
  line-height: 135%;
  color: var(--text-color);
  text-transform: uppercase;
}

.support__title-accent {
  font-family: var(--font-title-accent);
  color: var(--accent-color);
}

.support__title_bottom {
  grid-area: title;
}

.support__photo {
  max-width: 394px;
  aspect-ratio: 394 / 250;
  background-color: var(--background-element);
  border-radius: 50%;
}

.support__picture {
  grid-area: poster;
  align-self: center;
}

.support__poster {
  margin-left: -23px;
  max-width: 521px;
  aspect-ratio: 530 / 568;
}

.support__table {
  grid-area: table;
}

.support__other {
  grid-area: other;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 3vw, 20px);
  line-height: 120%;
  color: var(--accent-color-secondary);
}

@media (max-width: 1200px) {
  .support__container-bottom {
    align-items: center;
    grid-template-areas:
    'poster title'
    'table table'
    'other other';
    row-gap: 20px;
  }

  .support__other {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .support {
    gap: 34px;
  }

  .support__container-top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .support__title-gap {
    display: block;
    padding-top: 300px;
  }

  .support__photo {
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translate(-46%, -46%);
  }

  .support__container-bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .support__table {
    align-self: stretch;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .support__poster {
    margin-left: 0;
  }

  .support__other {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .support__title-gap {
    padding-top: 261px;
  }
}
