.header {
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__link-logo {
  display: block;
  width: fit-content;
}

.header__link-logo:focus-visible {
  outline: 2px solid var(--accent-color);
}

.header__logo {
  width: 245px;
  height: 36px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header__logo {
    width: 213px;
    height: 32px;
  }
}
