.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content__section {
  margin-top: 200px;
}

.content__running-line-up {
  margin-bottom: 80px;
}

.content__running-line-down {
  margin-top: 140px;
}

@media (max-width: 640px) {
  .content__section {
    margin-top: 120px;
  }

  .content__running-line-up {
    margin-bottom: 48px;
  }

  .content__running-line-down {
    margin-top: 100px;
  }
}
