.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content__section {
  margin-top: 200px;
}

.content__section_first {
  margin-top: 80px;
}

.content__section_last {
  margin-bottom: 140px;
}

@media (max-width: 640px) {
  .content__section {
    margin-top: 120px;
  }

  .content__section_first {
    margin-top: 48px;
  }

  .content__section_last {
    margin-bottom: 100px;
  }
}
